body {
  font-family: Helvetica;
  background-color: Gainsboro;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: DarkOrchid;
}

table {
  border: 2px solid DarkOrchid;
  margin: 0 auto;
  width: 650px
}

thead {
  background-color: DarkMagenta;
}

td {
  border-top: 2px solid DarkOrchid;
}

.code {
  font-family: monospace;
  background-color: Azure;
}

